div.thumb-wrap {
	background: #999;
	width: 160px;
	height: 120px;
	margin: 10px;
	padding:15px;
	float: left;
}

div.x-view-over {
	background: #F00;
}

div.x-view-selected {
	background: #0F0;
}

div.thumb-wrap img {
	width:150px;
	height: 100px;
}